html
{
    margin:0;
    padding:0;
    overflow: hidden;
    width: 100%;
}
body {
    background-color: white;
    /*background-image: url("ibrahim 1.jpg");*/
    margin:0;
    padding:0;
    overflow: hidden;
}

#wrap nav {
    background-color: #add8e6;
    height: 30px ;
    padding: 8px 10px;
     color: black;
}
/*.logo {*/
        /*display: inline-block;*/
    /*width: 20px;*/
    /*height: 20px*/
/*}*/
li {
    float: left;
    border-right: 2px solid #bbb;
    padding-right:10px;
}

#hon{
    width:100%;
    margin: 0 auto;
    background-color: black;

}
.few {
    text-align: center;
    background-color: blueviolet;
}
#hon img{
    height: 20%;
    width : 50%;
    border-radius: 50%;
    margin-left:20%;
    position: relative;
    max-height: 500px;
}

/*li a {;*/
    /*float: left;*/
/*}*/
/*h2 {*/
    /*color: white;*/
/*}*/

ul {
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 1%;*/
    background-color: lightblue;
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

/*li a:hover {*/
    /*background-color: #111;*/
/*}*/
#gall {
    height: 200px;
    width: 200px;
    float: left;
    background-color: blue;

}

.social li{
    display: inline-block;
}